#vstr_panel {
    width: 100%;
    height: 100%;
    top:0px;
    left: 0px;
    position: fixed;
    display: none;
    background-color: rgba(0,0,0,0.6);
    z-index: 9999;
    text-align: center;
}
#vstr_panel > iframe {
    margin: 0 auto;
    background-color: #000;
    margin-top: 32px;
    -moz-box-shadow: 0px 0px 20px 0px #2fedc8 ;
    -webkit-box-shadow: 0px 0px 20px 0px #2fedc8 ;
    -o-box-shadow: 0px 0px 20px 0px #2fedc8 ;
    box-shadow: 0px 0px 20px 0px #2fedc8 ;
}
#vstr_cursor {
    position: absolute;
    width: 17px;
    height: 22px;
    top: 50%;
    left: 50%;
    display: none;
    background-repeat: no-repeat;
    background-image: url('../img/cursor_default.png');
    background-position: center;
}
#vstr_cursor.pointer {
    background-image: url('../img/cursor_pointer.png');    
}
#vstr_infos {
    min-width: 300px;
    position: fixed;
    bottom:0px;
    right: 20px;
    z-index: 99999;
    min-height: 40px;
    background-color: rgba(0,0,0,0.9);
    color: white;
    z-index: 999999;
    padding: 14px;
    text-shadow: 1px 1px #000;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#vstr_infos strong {
    color: #2fedc8;
    margin-left: 6px;
}
#vstr_arrows {
    text-align: center;
}
#vstr_arrows > a {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 10px;
    background-size: cover;
}
#vstr_arrows > .vstr_btn_prev {
    background-image: url('../img/arrow-left-64.png');
}
#vstr_arrows > .vstr_btn_next {
    background-image: url('../img/arrow-right-64.png');
}
#vstr_arrows > .vstr_btn_pause {
    background-image: url('../img/pause-64.png');
}
#vstr_arrows > .vstr_btn_pause.play {
    background-image: url('../img/play-64.png');
}
#vstr_close{
    width: 16px;
    height: 16px;
    float: right;
    margin-top: 0px;
    background-image: url('../img/close-window-48.png');
}
.wp-list-table .column-checkbox {
    width: 38px;
}
#filterIP {
    height: 100px;
}
@media (max-width: 380px) {
    #vstr_infos {
        left: 0px !important;
        right: auto !important;
        max-width: 100%;
    }
}